.body{
    margin: 0;
    height: 66rem;
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    
}
.dim-backdrop{
    background: linear-gradient(rgba(0, 0, 0, 0.486) 50%, rgba(0, 0, 0, 0));
    height: inherit;
}